<h1>Hello World</h1>

<!-- Interpolations -->
<!-- <h2>{{title}}</h2>
<h4>{{name}}</h4>
<h3>{{getName()}}</h3>
<h2>{{obj.char}}</h2>
<h1>{{array[0]+array[1]}}</h1> -->

<!-- app user list component importing -->
<app-user-list></app-user-list>

<!-- login component inside user module imported -->
<app-login></app-login>

<!-- similarly importing signup page -->
<app-signup></app-signup>

<br/>
<!-- function with parameters -->
<button (click)="myEvent('this is it')">Click</button>

<br/>
<!-- key events -->
<!-- <input (keyup)="myEvent('keyup event')" type="text" /> -->

<!-- key values -->
<!-- <input #box (keyup)="myEvent(box.value)" type="text" /> -->


<br/>
<!-- key down events -->
<!-- <input (keydown)="myEvent('keyup event')" type="text" /> -->
<!-- <input #box (keydown)="myEvent(box.value)" type="text" /> -->

<!-- key enter, blur and space events -->
<!-- <input #box (keyup.enter)="myEvent(box.value)" type="text" /> -->
<!-- <input #box (blur)="myEvent(box.value)" type="text" /> -->
<!-- <input #box (keyup.space)="myEvent(box.value)" type="text" /> -->

